/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn {
  /* color: #fff; */
  background-color: rgb(133,215,251)	;
}

/* forms */

input, textarea {
  align-items: flex-start;
  border: 1px solid #bbb;
  width: 30%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* .field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
} */

.alert-danger {
  color: red;
}

/* miscellaneous */

.debug_dump {
  color: red;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
